@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

:root{
    /*Cores*/
    --cor01:#03A61C;
    --cor02:#F29F05;
    --cor03:#F27405;
    --cor04:#BF6D4E;
    --cor05:#F23005;
    --cor06: #fff;
    --cor07: #000;

    /*Fontes*/
    --fonte-princial: Arial, Helvetica, sans-serif;
    --fonte-secundaria: 'Inter', sans-serif;
    --font-tercearia: 'Alkatra', cursive;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte-princial);
}

header{
    padding-top: 20px;
    max-height: 250px;
    width: 100%;
    background-image: linear-gradient(to top, var(--cor02), transparent);
}

header img{
    display: block;
    max-height: 150px;
    max-width: 150px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.342);
}

header > nav {
    text-align: center;
    background-color:var(--cor02);
    height: 25px;
    padding: 10px 3px 5px 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.404);
}

header > nav > a{
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: bolder;
    font-size: 1em;
    padding: 10px;
    margin: 0 5px 0 5px;
    color: var(--cor06);
}

header > nav > a:hover{
    text-decoration: underline;
    transition: 0.5s;
    background-color: var(--cor03);
}

main{
    width: 90%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
    padding-top: 20px;
    float: left;
    margin-left: 5%;
    margin-bottom: 20px;
}

main div#cabecalho img{
    width: 80%;
    display: block;
    margin:0 auto;
}

main div#cabecalho > h1{
    padding-top: 50px;
    text-align: center;
    font-family: var(--font-tercearia);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.185);
    font-weight: normal;
}
main div#cabecalho > h2{
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    font-weight: normal;
    margin-top: -5px;
    margin-bottom: 20px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.185);  
}

main div#cabecalho button{
    display: block;
    text-align: center;
    width: 150px;
    padding: 15px;
    margin: 50px auto;
    background-color: var(--cor02);
    color: var(--cor06);
    font-weight: bold;
    border: 0;
    text-transform: uppercase;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.205);
    border-radius: 5px;
}

main div#cabecalho button:hover{
    background-color: var(--cor03);
    cursor: pointer;
    transition: 0.2s;
}
main div#serv-reparacao{
    text-align: center;
    width: 100%;
    background-color: #F29F05;
    margin: 0 0px 0 0px;
    padding-bottom: 30px;
}

main div#serv-reparacao h1{
    text-align: center;
    font-family: var(--font-tercearia);
    margin: 20px 0 20px 0;
    padding-top: 20px;
    color: var(--cor06);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.200);
}


main > div#serv-reparacao > section{
    width: 270px;
    margin: 10px 15px 10px 15px;
    display: inline-block;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.100);
    border-radius: 10px;
    background-color: var(--cor06);
}

main div#serv-reparacao h2{
    text-align: center;
    font-family: var(--font-tercearia);
    color: var(--cor03);
    margin: 10px 0 5px 0;
}

main div#serv-reparacao img{
    width: 50px;
    height: 50px;
    margin: 22px 10px 10px 10px;
}

main div#serv-reparacao > section > p{
    text-align: justify;
    text-indent: 50px;
    padding: 20px;
    line-height: 30px;
}

div#serv-domestico{
    margin-top: 50px;
    text-align: center;
}

div#serv-domestico h1{
    font-family: var(--font-tercearia);

}

div#serv-domestico img{
    background-color: var(--cor06);
    display: inline-block;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.200);
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 350px;
    height: 300px;
}

div#serv-domestico h2{
    padding: 20px 0 20px 0;
    color: #F29F05;

}
div#serv-domestico p{
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1em;
    line-height: 30px;
    width: 500px;
    margin: auto;
    text-align: justify;
}

div#sessao-contato{
    background-color: #F27405;
    text-align: center;
    padding: 20px;
    margin: 20px;
}h

div#sessao-contato h1{
    color: var(--cor06);
}

footer{
    clear: both;
    background-color: #BF6D4E;
    padding: 10px;
    text-align: center;
}