html, body, #home{
    height: 100%;
    overflow-x: hidden;
}

body{
    background:  url(../imagens/capa.png), 
                 url(../imagens/ruido.png),
                 linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial,sans-serif;
}

nav.navbar-transparente{
    padding: 15px 0;
    background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor{
    width: 2px;
    background: white;
    margin: 15px 15px 10px 15px
}

.capa{
    text-align: center;
}

.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    margin: 5px;
}

.btn-roxo{
    background: #7c25f8;
}

.btn-roxo:hover{
    background: #6207e3;
    color: white;
}

.btn-branco{
   border: 2px solid white;
}

.btn-branco:hover{
    background-color: white;
    color: black;
}

#home h1{
    font-weight:900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}
.caixa{
    padding: 20px 0;
}


#servicos{
    background: white;
}

.albuns{
    padding: 10px 0;
}

.rotacionar{
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}

#servicos h2, #servicos h3{
    color: #7c25f8;
}

#servicos  h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#recursos h2{
    color: white;
}

#recursos h3{
    color: #9bf0e1;
}

#recursos p{
    color: white;
}

footer{
    background: black;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4{
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8em;
    font-weight: bolder;
}

footer .navbar-nav li{
    margin: -5px 0;
}

footer .navbar-nav a{
    color:white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #9bf0e1;
}

footer ul{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 5px;
}